
.carousel-item {
    height: 350px;
}
.header-main {
    background-size: cover;
    background-position: center bottom;
}
.header-secondary {
    background-size: cover;
    background-position: center center;
}

@media (min-width: 576px) {
    .carousel-item {
        height: 510px;
    }
}
@media (min-width: 768px) {
    .carousel-item {
        height: 710px;
    }
}